.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
  margin: 0 auto;
  font-family: inherit;
  margin-top: 10vw;
  &__doubleField {
    display: flex;
    gap: 20px;
  }
}
