.header {
  display: flex;
  justify-content: flex-end;
  height: 80px;
  &__auth {
    display: flex;
    gap: 30px;
    margin-right: 10vw;
  }
}
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 100%;
  border-radius: 50%;
  background-color: rgba(179, 161, 161, 0.342);
  text-decoration: none;
  border: 1px solid skyblue;
}
.btn--login,
.btn--signup {
  color: #040720;
}
